* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'ChineseFont';
    src: url('./font/Uranus_Pixel_11Px.ttf');  /* 字体文件地址*/
    unicode-range: U+4E00-9FFF; /* 设置中文字体的 Unicode 范围 */
}
  

* {
    font-family: 'ChineseFont', 'Pixelify Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: green;
    background-size: cover;
    position: relative;
}